// Colours
$primary-color: #272727;
$secondary-color: #ff652f;
$light-color: #ffffff;
$dark-color: #000000;
$grey-color: #f4f4f4;
$text-color: #333333;

// Font sizes
$font-size-small: 1rem;
$font-size-medium: 1.5rem;
$font-size-large: 2.5rem;

// Shadows
$shadow-dark: rgba(0, 0, 0, 0.3);
$shadow-light: rgba(255, 255, 255, 0.2);